body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('images/logo.png'); /* Ruta de la imagen del logo */
    background-size: 160px; /* Ajusta el tamaño del logo para que sea pequeño como marca de agua */
    background-repeat: repeat; /* Hace que el logo se repita en todo el contenedor */
    background-position: center;
    opacity: 1; /* Mantiene el contenido al 100% de opacidad */
}


h1 {
    margin-bottom: 20px;
}

.animacion {
    position: relative;
    height: 200px;
    margin: 20px 0;
    overflow: hidden;
}

.carretera {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('https://img.freepik.com/vector-premium/vista-superior-carretera-camino-calle-asfalto-dibujos-animados_543062-3276.jpg?w=740'); /* Imagen de la carretera */
    background-size: cover;
    background-repeat: repeat-x; /* Repite horizontalmente */
    border-radius: 10px;
    animation: moverCarretera 5s linear infinite; /* Animación de movimiento de la carretera */
}

.bicicleta {
    width: 75px;
    position: absolute;
    bottom: 95px;
    left: 0;
}

.carro {
    width: 175px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

@keyframes moverCarretera {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

label {
    margin: 10px 0 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultados {
    margin-top: 20px;
}
